server:
  port: 8082

spring:
  profiles:
    active: local

  application:
    name: product-service

resilience4j:
  circuitbreaker:
    instances:
      userService:
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 30s
        permittedNumberOfCallsInHalfOpenState: 3

management:
  endpoints:
    web:
      exposure:
        include: health,circuitbreakers. circuitbreakerevents
  health:
    circuitbreakers:
      enabled: true

# ============================================
# USER SERVICE URL
# ============================================
user:
  service:
    url: http://localhost:8081